body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-image: url(../img/vr-bg.jpg);
    
}
.img-container img {
    width: 70%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 15%;
    overflow: hidden;

}
.container {
    text-align: center;
    width: 50%;
    max-width: 500px;
    padding: 0px;
}
.container h2 {
    margin-bottom: 20px;
    color: #080808;
    font-size: xxx-large;
}
.input {
    margin-bottom: 20px;
}
.input input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.Login {
    width: 60%;
    padding: 10px;
    background-color: rgba(24, 9, 240, 0.716);
    color: #f6fcfb;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.Login:hover {
    background-color: #3c41d464;
    color: #000;
}